
li{
    list-style:none;
    
}
html{
    font-family:sans-serif;
    scroll-behavior: smooth;
}
h1{
    font-weight: 40;
}
h2{
    font-weight: 300;
}
a{
    text-decoration: none;
}article{
    display:flex
}
a:link{
    color:yellowgreen
}
a:visited{
    color:red
}
a:hover{
    color:green
}
a:active{
    color:black
}
header{
    display:flex;
    justify-content: space-between;
}
ul{
    position: relative;
    top:1rem;
    display: flex;
    width:30rem;
    justify-content: space-around;
}
.showcase__image{
    
    height:100vh;
    width:100vw;
    margin:1.5 1rem;
}
.container{
    text-align: center;
    margin-right: 1rem;
}
footer{
    background-color: black;
    color: white;
    text-align:center;
    padding:1.5rem;
    font-size: 1rem;
}